src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="902e1fb5-e00e-4b06-a475-e4a01969b65e" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="37cdc676-619b-48c3-bc3e-c84fdfa18666" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="0fbe828c-2cad-4d8c-9f82-5207eea7b3f6" >
		<http:listener doc:name="Listener" doc:id="e05b5428-8fc6-4c74-a2c9-8ecdb6acf458" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="ad49058e-2c81-4240-9c07-43c0cd4c7a22" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3687bfe3-22dd-4d4d-80fb-6d491d68b641" message="#[payload]"/>
	</flow>
</mule>
